* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: Arial;
}

/* navbar */
.navbar-1 {
  width: 100%;
  height: 60px;
  background-color: #131921;
  display: flex;
  align-items: center;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 13px;
  margin-right: 10px;
}

/* navbar logo */
.nav-left-logo {
  width: 110px;
  height: 35px;
  background-image: url("asset/Logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* navbar address section */
.nav-left-add {
  display: flex;
  align-items: center;
  padding: 5px;
  gap: 5px;
}

.nav-left-add-text-address {
  color: #cccccc;
  font-size: 12px;
}

.nav-left-add-text-btn {
  font-size: 14px;
  font-weight: bolder;
}

/* navbar middle */
.nav-middle {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-middle-search {
  height: 40px;
  width: 100%;
  display: flex;
}

.nav-middle-search-select {
  width: 50px;
  height: 100%;
  color: #555555;
  background-color: #e6e6e6;
  text-align: center;
  border: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.nav-middle-search-input {
  width: 100%;
  padding: 10px;
  color: black;
  border: none;
  outline: none;
  font-size: 15px;
}

.nav-middle-search-btn {
  width: 45px;
  border: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #febd69;
}

/* navbar right */
.nav-right {
  max-width: 385px;
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0 7px;
}

.nav-right-lang {
  background: url("asset/indian_flag.png") no-repeat 8px center;
  background-size: 25px 25px;
  padding-left: 35px; /* to make space for the flag */
  height: 30px;
  color: white;
}

.nav-right-lang option {
  color: black;
}

.nav-right-signin,
.nav-right-return {
  padding: 5px;
}

.nav-right-signin p {
  font-size: 12px;
  padding-left: 4px;
}

.nav-right-signin-select {
  background-color: transparent;
  border: none;
  font-weight: bold;
}

.nav-right-return-p1 {
  font-size: 12px;
}

.nav-right-return-p2 {
  font-size: 15px;
  font-weight: bold;
}

.nav-right-cart {
  display: flex;
  width: 75px;
}

.nav-right-cart-icon {
  width: 40px;
  height: 40px;
  display: flex;
  background-image: url("asset/cart_icon.png");
  background-size: contain;
  justify-content: center;
  align-items: center;
  position: relative;
}

.nav-right-cart-count {
  position: absolute;
  color: #f08804;
  right: 54px;
  top: 8px;
  font-size: 18px;
  font-weight: bolder;
}

.nav-right-cart-text {
  position: absolute;
  font-size: 16px;
  font-weight: bold;
  top: 28px;
  right: 15px;
}

/* navbar 2 */
.navbar-2 {
  height: 40px;
  width: 100%;
  background-color: #232f3e;
  display: flex;
  padding: 0px 25px;
}

.navbar-2 ul {
  display: flex;
  align-items: center;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
}

.nav2-item {
  list-style-type: none;
  font-size: 13px;
  font-weight: 600;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}

/* media query */

/* navbar */
@media (max-width: 1000px) {
  .nav-left-logo {
    width: 85px;
  }

  .nav-left-add {
    width: 145px;
  }

  .nav-left-add-text-address {
    font-size: 9px;
  }

  .nav-left-add-text-btn {
    font-size: 13px;
  }

  .nav-right {
    gap: 0px;
  }

  .nav-right-lang {
    width: 55px;
  }

  .nav-right-return,
  .nav-right-cart-text {
    display: none;
  }

  .nav-right-cart {
    width: 45px;
  }

  .nav-right-cart-count {
    right: 24px;
  }

  .navbar-2{
    padding: 0px;
  }
}

@media (max-width: 700px) {
  .nav-left-add,
  .nav-right-signin {
    display: none;
  }
}

@media (max-width: 500px) {
  .nav-left-logo {
    width: 75px;
  }
  .nav-middle-search {
    height: 35px;
  }
  .nav-middle {
    margin-right: 8px;
  }
  .nav-right {
    display: none;
  }
}

/* utility */
.border {
  border: 1.5px solid transparent;
  border-radius: 3px;
}

.border:hover {
  border: 1.5px solid white;
  border-radius: 3px;
  cursor: pointer;
}
